ipykernel
datajoint-utilities @ git+https://github.com/ttngu207/datajoint-utilities.git@with_max_idled_cycle

element-lab==0.1.2
element-animal @ git+https://github.com/datajoint/element-animal.git
element-session @ git+https://github.com/datajoint/element-session.git
element-array-ephys @ git+https://github.com/datajoint/element-array-ephys.git
ecephys-spike-sorting @ git+https://github.com/datajoint-company/ecephys_spike_sorting.git

element-array-ephys-support @ git+ssh://git@github.com/dj-sciops/element-array-ephys-support.git
plotly
graphviz
